body {
    font: "courier", "courier new", serif;
    background: #f0b4d2;
    color: #fff;
    padding: 50px 0;
  }

h1{
    text-align: center;}
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .flex-outer{
    padding: 0;
  }
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 225px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
  }
  
  .flex-outer li button {
    margin-left: 0px;
    padding: 6px 12px;
    border: none;
    background: rgb(255, 255, 255);
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 3px;
  }
  
  .flex-inner li {
    width: 80px;
  }
